table {
    width: 100%;
}

.view-employees-container {
    display: flex;
    flex-direction: column;
}

.actions-container {
    display: flex;
    padding: 20px 0 20px 0;
    justify-content: space-around;
    align-items: center;
}

.btn {
    max-height: 50px;
    margin-bottom: 1.34375em;
}

.filters-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-text {
    color: red;
    padding-bottom: 20px;
    max-width: 200px;
}

::ng-deep .mat-form-field-wrapper {
    padding-bottom: 20px !important;
}

.action-column-container {
    display: flex;
    align-items: center;
}

.action-btn {
    margin-right: 10px;
}

.btn-container {
    display: flex;
    flex-direction: column;
}
